.env

# Virtual environment
venv/
env/
*.venv


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log